/*  Header.css  */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');


.header {
    position: relative;
    margin: 2rem auto;       
    width: 90%;             
    max-width: 1200px;      
  
  
    background-color: #ffffff12;
    border: 1px solid #ffffff12; 
    border-radius: 1rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
  
 
    padding: 1rem 2rem;
  

    z-index: 50;
  
  }
  
  /* The container inside the header for layout */
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /*  ReStyle */
  .header-brand {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;  
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
  }
  
  .header-brand:hover {
    opacity: 0.9;
  }
  
  /*  The nav container in the middle */
  .header-nav {
    display: flex;
    gap: 2rem; 
  }
  
  .header-nav a {
    font-family: "Lato", sans-serif;
    font-size: 1.0rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .header-nav a:hover {
    color: #f06292; 
  }
  
  /*  Profile link (if user is logged in) */
  .header-profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: "Lato", sans-serif;
    font-size: 1.0rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
  }
  
  .header-profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .header-profile:hover {
    color: #f06292;
  }
  
  /*  The login/sign-up container (if user not logged in) */
  .header-login-signup {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .header-login-signup a {
    font-family: "Lato", sans-serif;
    font-size: 1.0rem;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
  }
  
  .header-login-signup a:hover {
    color: #f06292;
  }